* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 50px;
}

.header {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    width: 220px;
    justify-content: space-between;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.section-one-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.section-one {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    display: flex;
    background: #3882F6;
    border-radius: 10px;   
    justify-content: center;
    align-items: center;
    width: 130px;
}

#signup {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 900;   
    padding: 5px;  
}

.section-two-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#header-two {   
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section-two-container {
    display: flex;
    height: 330px;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
}

.section-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.ill-one {
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    gap: 5px;
}

.ill-two {
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    gap: 5px;
}

.ill-three {
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    gap: 5px;
}

.ill-four {
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    gap: 5px;
}

#ill-subtext {
    text-align: center;
    font-size: 17px;
}

.quote-section-container {
    height: 310px;
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: flex-end;
}

.quote-only-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 820px;
    flex-wrap: wrap;
}

.author-container {
    display: flex;
    height: 140px;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.author {
    width: 760px;
    display: flex;
    justify-content: flex-end;
}

#author {
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
}

.final-section-container {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.final-section {
    display: flex;
    background: #3882F6;
    border-radius: 10px;
    width: 900px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

#call {
    font-size: 18px;
    color:#F9FAF8;
    font-weight: 900;
}

#signup2 {
    font-size: 14px;
    color: #E5E7EB;
}

.final-right {
    display: flex;
    width: 110px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    justify-content: center;
    align-items: center;
}

.button2 {
    color: #E5E7EB;
}

.footer-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
}

.footer-text {
    color: #E5E7EB;
    font-size: 14px;
}